body {
    
    background: rgb(129, 179, 255);
    overflow: hidden;
    margin:0;
    padding:0px;
}

.container { 
    background-color: #14436c;
    margin:0;
    padding:5px
}
.title {
    font-size: 50px;
    text-align: center;
    color: #333;
    margin-top: 0px;

    position: relative;
    top: 4px;    /* Moves 20px down from where the element would normally be */
    left: -410px;   /* Moves 30px to the right from its normal position */

}

/* styles.css */
.prime{
    font-size: 25px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right:20px;
}

.prime:hover {
  background-color: #45a049; /* Darker green when hovering */
}

        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: center;
            background:#f2f2f2;
        }
        th {
            background-color:  #afdeeb;
        }
.course1{
color: rgb(2, 2, 2);
font-family:cursive;
margin-left: 450px;
}

.word1{
    font-size: 50px;
    font-family: cursive;
    font-weight:1000;
    margin-top: 100px;
    margin-left :100px;
}   
.word2{
    font-size: 50px;
    font-family: cursive;
    font-weight:1000;
    margin-top: px;
    margin-left :500px;
}   
.word3{
    font-size: 50px;
    font-family: cursive;
    font-weight:1000;
    margin-top: 0px;
    margin-left:700px;
}   
.word4{
    font-size: 50px;
    font-family: cursive;
    font-weight:1000;
    margin-top: px;
    margin-left :200px;
}   
@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }

}

.word1word2{
  animation: bounce 1s infinite;
}
