body {
    
    background: linear-gradient(to right,rgb(20, 197, 82),rgb(43, 210, 41),rgb(12, 90, 39));
    overflow: hidden;
    margin:0;
    padding:0px;
}

.container { 
    background: linear-gradient(to right, rgb(21, 140, 67),rgb(25, 146, 23),rgb(41, 103, 24));
    margin:0;
    padding:5px
}
.title {
    font-size: 50px;
    text-align: center;
    color: #333;
    margin-top: 0px;

    position: relative;
    top: 4px;    /* Moves 20px down from where the element would normally be */
    left: -410px;   /* Moves 30px to the right from its normal position */

}

/* styles.css */
.prime{
    font-size: 25px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right:20px;
}

.prime:hover {
  background-color: #45a049; /* Darker green when hovering */
}

        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
            text-align: center;
            background:#f2f2f2;
        }
        th {
            background-color:  #afdeeb;
        }
.course1{
color: rgb(2, 2, 2);
font-family:cursive;
margin-left: 450px;
}

.word{
    font-size: 40px;
    font-family: cursive;
    font-weight:1000;
    margin-top: 50px;
    margin-left :100px; 
} 

/* .word2{
    font-size: 50px;
    font-family: cursive;
    font-weight:1000;
    margin-top: px;
    margin-left :500px;
}    */

/* .word3{
    font-size: 50px;
    font-family: cursive;
    font-weight:1000;
    margin-top: 0px;
    margin-left:700px;
}    */

/* .word4{
    font-size: 50px;
    font-family: cursive;
    font-weight:1000;
    margin-top: px;
    margin-left :200px; 
}    */

/* @keyframes bounce {
  0%, 100% {
    transform: translateX(20px);
  }
  50% {
    transform: translateY(-20px);
  }
} */


@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.word:hover { 
    animation : fade 1s  ;
}

.highlight{
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 1px 150px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: inline-block;
  justify-content: center;
}

